= form_for @document, url: site_document_path(site_id: params[:site_id], id: @document.id) do |f|
  = render partial: "form", locals: { f: f }

= link_to "Edit Raw", edit_site_document_path(site_id: @site.id, id: @document.id, raw: true)
