= form_for @document, url: site_documents_path(site_id: params[:site_id]) do |f|
  = render partial: "form", locals: { f: f }

= link_to "Edit Raw", new_site_document_path(site_id: params[:site_id], raw: true, folder_id: params[:folder_id])
